.tasks-container {
    background-color: #444;
    margin: 8px 0;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #000;
    align-items: center;
    cursor: pointer;
}

.task-title {
    width: 100%;
    cursor: pointer;
    padding: 15px 20px;
}

.buttons-container {
    display: flex;
}
